@font-face {
    font-family: "pop-bold";
    src: url("../fonts/Poppins-Bold.ttf");
  }
@font-face {
    font-family: "pop-regular";
    src: url("../fonts/Poppins-Regular.ttf");
  }
@font-face {
    font-family: "pop-semi-bold";
    src: url("../fonts/Poppins-SemiBold.ttf");
  }
  @font-face {
    font-family: "myr-regular";
    src: url("../fonts/MyriadPro-Regular.otf");
  }
  @font-face {
    font-family: "myr-bold";
    src: url("../fonts/MyriadPro-Bold.otf");
  }
  @font-face {
    font-family: "pop-bold";
    src: url("../fonts/Poppins-Medium.ttf");
  }